.margin10{
    margin-left: 50px;
}
.width300{
   width: 300px!important;
}
form { 
    margin: 0 auto; 
    width:250px;
}
.browse{
    width: auto;
    height: auto;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: double;
    border-radius: 5px;
    background-color: beige;
    text-align: center;
    
    font-weight: bold
}