@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
/* font for headings, text, tags */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
input, button, submit
{
  border:none;
}
.ot-circle {
    height: 95px;
    width: 95px;
    text-align: center !important;
    line-height: 98px;
    color: #FFFFFF;
    border-radius: 100px;
    background-color: #23AD21;
    margin: 0 2px 4px;
    font-size: 24px;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.dark-bg{
    background-color: black
}
